.summoner-comparison-title {
    margin-left: 5px;
}

input {
    width: 200px;
    margin-left: 2.5px;
}

button {
    margin-left: 2.5px;
}

.clear-all {
    margin-top: 5px;
    margin-left: 5px;
}

.summoner-card {
    border: solid black;
    width: 300px;
    height: 550px;
    margin: 5px;
}

select {
    margin-left: 2.5px;
}

.error-message {
    margin-left: 5px;
    color: red;
    font-style: italic;
}

.summoner-stats-container {
    margin-left: 2.5px;
    width: 275.5px;
    height: 500px;
    overflow-wrap: break-word;
    overflow-y: auto;
}

.summoner-card div {
    margin-bottom: 5px;
}

p {
    margin: 0px;
}